<div class="form-floating mb-3">
    <input type="text" class="form-control" id="name" name="name" placeholder="Name OF Category" value="<%= category.name%>">
    <label for="floatingInput">Name </label>
  </div>
  <div class="form-floating">
    <input type="submit" class="form-control btn btn-info" id="floatingPassword" name="submit" placeholder="Save">
    
  </div>