<div class="container w-50 pt-5">
  <h1>Login User </h1>
  <%- include('../part/message')%>
  <form action="/user/login" method="POST">
      <div class="form-floating mb-3">
          <input type="email" class="form-control" id="name"  name="email">
          <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating mb-3">
          <input type="password" class="form-control" id="dasd"  name="password">
          <label for="floatingInput">Password</label>
      </div>

      <div class="form-floating  mt-3">
          <input type="submit" class="form-control  btn btn-primary" id="sub" value="Login">
          
      </div>
      <hr><h4>Login with</h4>
      <div class="form-floating mt-3" style="text-align: center;">
          <a href="/user/google" class="btn btn-info" style="background-color: #e84118; color: #fff; font-size: 20px; font-weight: 500;" ><i class="fa fa-google"></i> Google</a>
          <a href="/user/github" class="btn btn-info" style="background-color: #212529;color: #fff;font-size: 20px; font-weight: 500; " ><i class="fa fa-github"></i> Github</a>
          <a href="/user/facebook" class="btn btn-info" style="background-color: #273c75;color: #fff;font-size: 20px; font-weight: 500; "><i class="fa fa-facebook"></i> Facebook</a>
      </div>
  </form>


  

</div>