<div class="container mt-5">
    
    <div class="form-group ">
        <form action="/cart/order" method="POST">
           

            <table  class="table table-dark table-hover mt-5 ">
                <tr>
                    <th scope="col">Đơn hàng</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Giá trị đơn hàng</th>
                    <th scope="col">TT thanh toán</th>
                    <th scope="col">TT vận chuyển</th>
                </tr>
                 <%
                        orders.map(order=> {%>
                              <tr>
                                    <th><%= order._id %></th>
                                    <td><%= order.address %></td>
                                    <td><%= order.cart.priceTotal %></td>
                                    <td>Chưa thu tiền</td>
                                    <td>Chưa chuyển</td>
                              </tr>
                          <%})
                        %>


            </table>


        