<div class="container pt-5 w-50 ">
    <h1>Register</h1>
    <form action="/user" method="POST">
      <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" name="name" required >
            <label for="floatingInput">User name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" name="email" >
            <label for="floatingInput">Email address</label>
          </div>
          
          <div class="form-floating mb-3">
            <input type="password" class="form-control" id="floatingPassword" name="password" required >
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating mb-3">
            <input type="file" name="image"  class="filepond" >
            <label for="floatingInput">Image</label>
          </div>
          <div class="form-floating mb-3">
            <input type="submit" class="form-control btn btn-primary" id="sub" value="save"  placeholder="Save">
           
          </div>
        </form>
    </div>